@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
	background-color:white;
	max-width: 100%;
	font-family: 'Gloria Hallelujah', cursive;
}

h1 {
	margin: 0px auto;
	text-align: center;
}